<p id="notice"><%= notice %></p>

<p>
  <strong>User profile:</strong>
  <%= @user_skill.user_profile %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @user_skill.skill %>
</p>

<%= link_to 'Edit', edit_user_skill_path(@user_skill) %> |
<%= link_to 'Back', user_skills_path %>
