<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @project.detail %>
</p>

<p>
  <strong>Skills:</strong>
  <% @project.skills.each do |skill| %>
      <%= skill.skill %>
  <% end %>
</p>

<p>
  <strong>Main Members:</strong>
  <% @members.each do |member| %>
      <%= member.user.name %>
  <% end %>
</p>

<p>
  <strong>Temp Members:</strong>
  <% @temp_members.each do |member| %>
      <div>
        <%= member.user.email %>
        <% if @user_is_owner %>
          <%#= button_to "認証", {controller: 'projects', action: 'approve'}, {method: :post} %>
          <%= button_to "認証", action: "approve" %>
      <% end %>
      </div>
  <% end %>
</p>

<!--<p>-->
  <%#= form_with(model: @new_messages) do |form| %>
    <%#= form.label :content %>
    <%#= form.text_area :content %>

      <%# binding.pry %>
    <%#= form.submit %>
  <%# end %>
<!--</p>-->

<p>
  <strong>Messages:</strong>
  <% @messages.each do |message| %>
      <%= message.user.email %>
      <%= message.content %>
  <% end %>
</p>

<p>
  <% unless @user_is_owner %>
    <%= button_to "参加", :action => "apply" %>
  <% end %>
</p>

<h6>コメント</h6>
<table>
  <thead>
  </thead>

  <tbody>
    <% @messages.each do |chat_message| %>
      <tr>
        <td><%= chat_message.content %></td>
        <td><%= link_to 'Show', chat_message %></td>
        <td><%= link_to 'Edit', edit_chat_message_path(chat_message) %></td>
        <td><%= link_to 'Destroy', chat_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
